* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    font-size: 100%;
    color: white;
}

   /* header */

.header {
    width: 100%;
    height: 3em;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.logo {
    line-height: 3em;
}

#logo {
    width: 3em;
    float: left;
}

#slogent {
    color: yellow;
    float: left;
    font-size: 20px;
    padding: 0 15px;
}

.navbar-list {

}
.navbar-item {
    list-style: none;
    float: left;
    line-height: 3em;
    /*padding: 0 15px;*/
}
#navbar-sub {
    position: relative;
}

.navbar-item:hover .subnav-item-nav{
    display: block;
}

.navbar-text {
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 0 15px;
    width: 100%;
}

.navbar-text:hover{
    display: block;
    background-color: #ccc;
    color: black;
}
#menu-mobile {
    position: relative;
}

.subnav {
    clear: left;
    position: absolute;
    background-color: aqua;
    width: 200px;
    right: 0;

}
.navbar-item {
    border-right: 1px solid white;
}

.subnav-item-nav {
    list-style: none;
    display: none;
    border: 1px solid white;
}
.subnav-item-nav:hover{
    background-color: coral;
}

.subnav-item-text {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 20px;
    width: 100%;
}
#search-icon {
    font-size: 30px;
    line-height: 1.5em;
    padding: 3px 10px 0 15px;

}
.navbar-text {
    width: 100%;
}
#search-icon:hover {
    background-color: red;
}

    /*contenr*/
.content {
    margin-top: 100px;
    margin-bottom: 50px;
    display: inline-block;

}

#content-left {
    width: 75%;
    float: left;
    padding-right:  2%;
    padding-left: 2%;
}

.content-item {
    width: 30%;
    float: left;
    margin: 0 0 25px 3% ;
    text-align: center;
}

.content-img {
    width: 100%;
    height: 20em;
}
.content-img:hover {
   opacity: 0.7;
}

.img-text {
    font-size: 1em;
}

.text {
    text-decoration: none;
}

#content-right {
    background-color: blanchedalmond;
    width: 25%;
    float: left;
    min-height: 250px;
}

#menu {
    font-size: 2em;
    color: #333;
    margin-left: 5%;
}

.subnav-item {
    margin: 10px 10%;
    list-style: none;
    margin: 0;
    padding: 20px 20px;
    border: 1px solid white;
    display: block;
}

.subnav-item:hover {
    background-color: lightskyblue;
}

.text-list {
    width: 100%;
    font-size: 1em;
    text-decoration: none;
    color: blue;
}

.text-list:hover {
    color: red;
}

.footer {
    height: 50px;
    clear: left;
    background-color: #333;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}

@media screen and (max-width: 46.1875em) {
    #content-right {
        display: none;
    }
    #content-left {
        width: 100%;
    }
    .navbar-item {
        display: none;
    }
    .content-item {
        width: 45%;
    }
    #menu-mobile {
        display: block;
    }


}
@media screen and (min-width: 46.1875em) and (min-width: 128em) {

}

