<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/delete}" th:object="${customer}" method="post">
  <input type="hidden" th:field="*{id}">
  <table>
    <tr>
      <td>name : </td>
      <td th:text="${customer.name}"></td>
    </tr>
    <tr>
      <td>province : </td>
      <td th:text="${customer.customerProvince.name}">
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Delete"></td>
    </tr>
  </table>

</form>
</body>
</html>