<div class="container mt-4 d-flex justify-content-between mb-3">
  <div>
    <a routerLink="/customer/create" class="btn btn-success  " >Create new customer</a>
    <h3 class="text-danger">{{data}}</h3>
  </div>

  <div>
    <label class="mr-2 font-weight-bold">from</label>
    <input class="search mr-2" placeholder="DateFrom" type="date" [(ngModel)]="dateFrom" name="search"  >
    <label class="mr-2 font-weight-bold">to</label>
    <input class="search mr-2" placeholder="DateTo" type="date" [(ngModel)]="dateTo" name="search"  >
    <input class="search" placeholder="Search" type="text" [(ngModel)]="searchText" name="search"  >
    <button class="btn btn-success ml-3 " (click)="search()">Search</button>
  </div>


</div>


<table  class="table table-dark container">
  <tr>
    <th>STT: </th>
    <th>Id: </th>
    <th>Name: </th>
    <th>Date of brith : </th>
    <th>customer type : </th>
    <th>Delete  </th>
    <th>Edit  </th>
    <th>View  </th>
  </tr>
  <tr *ngFor="let customer of customers | filter: searchText | paginate : config , let i = index">
    <td>{{i + 1 + config.itemsPerPage * (config.currentPage-1) }}</td>
    <td>{{customer.id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.type.type}}</td>
    <td><button class="btn btn-danger" (click)="openDialog(customer.id , customer.name)">delete</button></td>
    <td><button class="btn btn-warning" (click)="openEditDialog(customer.id , customer.name , customer.dateOfBirth, customer.type)">edit</button></td>
    <td><button class="btn btn-success" (click)="openDialog1(customer.id , customer.name , customer.dateOfBirth, customer.type )">view</button></td>

  </tr>
</table>
<pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
<!--<app-dialog-delete (deleteStudent)="delete1($event)"></app-dialog-delete>-->


