<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/service/create}" th:object="${serviceDto}" method="post" >
    <label>Name : </label>
    <input type="text" th:field="*{serviceName}">
    <td th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">Name Error</td>
    <br>
    <label>area : </label>
    <input type="text" th:field="*{area}">
    <br>
    <label>cost : </label>
    <input th:field="*{cost}">
    <br>
    <label>max people : </label>
    <input type="text" th:field="*{maxPeople}">
    <br>
    <label>standard : </label>
    <input type="text" th:field="*{standardRoom}">
    <br>
    <label>description : </label>
    <input type="text" th:field="*{description}">
    <br>
    <label>poolArea : </label>
    <input type="text" th:field="*{poolArea}">
    <br>
    <label>floor : </label>
    <input type="text" th:field="*{floor}">
    <br>
    <label>serviceType : </label>

    <select th:field="*{serviceType}">
        <option th:each="type : ${typeList}" th:value="${type.id}" th:text="${type.serviceType}"></option>
    </select>

    <input type="submit" value="create">
</form>

</body>
</html>