<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px">
  <tr>
    <th>Id : </th>
    <th>LastName : </th>
    <th>FirstName : </th>
    <th>Email : </th>
    <th>PhoneNumber : </th>

  </tr>
  <tr th:each="user :${users}" >
      <td th:text="${user.id}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phoneNumber}"></td>
  </tr>
</table>

</body>
</html>