<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="#{create.title}" ></h2>
<a href="/">back to list</a>
<form th:action="@{/create}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>name :</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>province :</td>
            <td>
                <select th:field="*{customerProvince}">
                    <option th:each="province :${provinceList}" th:value="${province.getId()}"
                    th:text="${province.name}"></option>
                </select>
            </td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="create"></td>
        </tr>
    </table>
</form>

</body>
</html>