<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="#{title}">tam dep trai</h1>
<a href="?lang=vi">Vietnamese</a>
<form th:action="@{/search}" method="post">
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<a href="/create">Create new customer</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer :${customerList}">
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getCustomerProvince().getName()}"></td>
        <td><a th:href="@{/edit(id=${customer.getId()})}">Edit</a></td>
        <td><a th:href="@{/delete(id=${customer.getId()})}">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{/(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}">Previous</a>
    <span th:text="${customerList.number + 1}"></span>/<span th:text="${customerList.totalPages}"></span>
    <a th:href="@{/(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}">Next</a>
</div>

</body>
</html>