<h1>Danh sách sản phẩm</h1>
<div class="container">
  <a class="btn btn-success ml-3 mb-3" routerLink="/product/create">Create new product</a>
</div>

<div class="container">
  <table class="table table-dark">
    <tr>
      <td>STT</td>
      <td>Tên</td>
      <td>Giá</td>
      <td>Mô tả</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr *ngFor="let product of products; index as i">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><button class="btn btn-success" (click)="openDialog(product.id, product.name, product.price, product.description)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="openDeleteDialog(product.id, product.name, product.price, product.description)">Delete</button></td>
    </tr>
  </table>
</div>

