<div class="container mt-4 d-flex justify-content-between mb-3">
  <div>
    <a routerLink="/create" class="btn btn-success  ">Create new student</a>
  </div>

</div>

<table class="table table-dark container">
  <tr>
    <th>STT:</th>
    <th>Id:</th>
    <th>Name:</th>
    <th>mã bệnh nhân :</th>
    <th>mã bệnh án :</th>
    <th>Delete</th>
    <th>View</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let patient of patients  | paginate : config , let i = index">
    <td>{{i + 1 + config.itemsPerPage * (config.currentPage - 1) }}</td>
    <td>{{patient.id}}</td>
    <td>{{patient.name}}</td>
    <td>{{patient.patientCode}}</td>
    <td>{{patient.medicalRecordCode}}</td>
    <td>
      <button class="btn btn-danger" (click)="openDeleteDialog(patient)">delete</button>
    </td>
    <td>
      <button class="btn btn-success" (click)="openDialog1(patient)">view</button>
    </td>
    <td>
      <button class="btn btn-warning" (click)="openEditDialog(patient)">Edit</button>
    </td>

  </tr>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>



