<h1>Update product</h1>

<form [formGroup]="productForm" (ngSubmit)="submit()">

  <input class="form-control" type="hidden"  formControlName="id" >

  <label>name</label>
  <input class="form-control" type="text"  name="name"  formControlName="name" >


  <label>birthday </label>
  <input class="form-control" type="text"  formControlName="dateOfBirth" >

  <label>customer type </label>
  <select class="form-control" [compareWith]="compareFn"  formControlName="customerType">
    <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">
      {{customerType.type}}
    </option>
  </select>

  <div class="d-flex justify-content-between">
    <button class="btn btn-success mt-3 " mat-dialog-close=""  type="submit">update</button>
    <button class="btn btn-danger mt-3 " mat-button mat-dialog-close="">close</button>

  </div>

</form>
