<form class="container mt-5" [formGroup]="carForm"  (ngSubmit)="create()" >
  <table class="table table-striped table-dark">
    <tr>
      <th><label>Name : </label></th>
      <td><input class="form-control" type="text" name="name" formControlName="name"></td>
    </tr>
    <tr>
      <th><label>producer</label></th>
      <td>
        <select class="form-control" formControlName="producer" >
          <option *ngFor="let producer of producers" [ngValue]="producer" >{{producer.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><input class="btn btn-success" type="submit" value="create"></th>
    </tr>
  </table>

</form>


