<!DOCTYPE html>
<meta charset="utf-8" />
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<h2>Product</h2>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" th:action="@{/product/search}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>
</nav>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<p>
    <a th:href="@{/}">Back to list</a>
</p>



<table id="product">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="product,rowStat : ${products}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getProducer()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${product.getId()})}">edit</a></td>
        <td>
                <button type="button"
                        th:onclick="|sendDataToModal('${product.id}','${product.name}')|"
                        class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#myModal"

                        >Delete
                </button>
        </td>
        <td><a th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

<div class="modal" id="myModal">
    <form th:action="@{product/delete}" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden type="text" name="id" id="idStudent">
                    <p>Do you want to delete : <span id="nameStudent"></span></p>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <input type="hidden" name="action" value="delete">
                    <button type="submit" class="btn btn-danger ">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
<footer th:replace="/layout :: footer">


</footer>
</body>


</html>
