<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Blog</h2>
<a href="/create">create new blog</a>
<table border="1px">
    <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Content</th>
    </tr>
    <tr th:each="blog : ${listBlog}">
        <td th:text="${blog.getId()}"></td>
        <td th:text="${blog.getAuthor()}"></td>
        <td th:text="${blog.getContent()}"></td>
    </tr>
</table>

</body>
</html>