.header {
  height: 60px;
  background-color: dodgerblue;
}
.search{
  width: 100px;
  border-radius: 10px;
}
.search-img {
  width: 30px;
}
.content {
  min-height: 500px;
}
.item {
  background-color: white;
}
.logo{
  width: 100px;
}
.content-img {
  width: 100%;
}
a{
  margin: 0;
  padding: 0;
}

.img-slider {
  width: 50%;
}
.main{
  position: relative;
  top: 100px;
}

@media screen and (max-width: 739px){
  .nav-header {
    display: none;
  }
}
