<div class=" container d-flex main ">

  <div class="row">

    <div class="item col col-lg-4 col-sm-12 col-md-6 bg-light">
      <a class="" href="./villa/list.jsp">
        <img class="content-img" src="./assets/image/villa.webp" alt="">
        <h3>villa</h3>
        <p>villa đẹp nhất đông nam á</p>
      </a>
    </div>


    <div class="item col col-lg-4 col-sm-12 col-md-6 bg-light">
      <a class="" href="furama/service/room/list.jsp">
        <img class="content-img" src="./assets/image/room.webp" alt="">
        <h3>Room</h3>
        <p>Room đẹp nhất đông nam á</p>
      </a>
    </div>


    <div class="item col col-lg-4 col-sm-12 col-md-6 bg-light">
      <a class="" href="./furama/service/house/list.jsp">
        <img class="content-img" src="./assets/image/house.webp" alt="">
        <h3>House</h3>
        <p>House đẹp nhất đông nam á</p>
      </a>
    </div>

  </div>

</div>


