/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
h2{
  color: #F4934E;
}
a{
  text-decoration: none;
  color: #333;
}
.navbar li{


}
.navbar li a{
  margin: 0 1px;
  background-color: #5DB0E8;
  border: 1px white;
}
