<h1>tâm đẹp trai</h1>
<button class="btn btn-success mb-3" routerLink="/create">create new car</button>
<table class="table table-dark container">
  <tr>
    <th>stt</th>
    <th>id</th>
    <th>name</th>
    <th>producer</th>
    <th>delete</th>
    <th>edit</th>
  </tr>
  <tr *ngFor="let car of cars, let i = index">
    <td>{{i+1}}</td>
    <td>{{car.id}}</td>
    <td>{{car.name}}</td>
    <td>{{car.producer.name}}</td>
    <td>
      <button class="btn btn-danger" (click)="openDeleteDialog(car.id, car.name)">delete</button>
    </td>
<!--    <td>-->
<!--      <button (click)="openEditDialog(car.id, car.name , car.producer)">edit</button>-->
<!--    </td>-->
    <td>
      <button class="btn-danger btn" (click)="openEditDialog(car)">edit</button>
    </td>
  </tr>
</table>
