<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>tam dep trai</h1>
<form th:action="@{/customer/search}">
    <label>name : </label>
    <input class="search" type="text" name="search">
    <input class="btn btn-primary" type="submit" value="search">
</form>
<br>
<a href="/customer/create">Add new customer</a>
<table border="1px">
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>birthday</th>
        <th>name</th>
        <th>gender</th>
        <th>Card</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Address</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <tr th:each="customer,loop :${customerPage}" >
        <td th:text="${loop.index+1}"></td>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.birthday}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.gender}"></td>
        <td th:text="${customer.card}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.type}"></td>
        <td><a th:href="@{/customer/edit(id=${customer.getId()})}">Edit</a></td>
        <td><a th:href="@{/customer/delete(id=${customer.getId()})}">Delete</a></td>
    </tr>

</table>
<div>
    <a th:href="@{/(page=${customerPage.number - 1},name=${keyword})}" th:if="${customerPage.hasPrevious()}">Previous</a>
    <span th:text="${customerPage.number + 1}"></span>/<span th:text="${customerPage.totalPages}"></span>
    <a th:href="@{/(page=${customerPage.number + 1},name=${keyword})}" th:if="${customerPage.hasNext()}">Next</a>
</div>

</body>
</html>