<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="app">
  <header class="header">
    <div >
      <nav class="header__navbar">
        <ul class="header_navbar-list">
          <li class="header__navbar-item header__navbar-item1" >
            <a id="have-qrcode" href="" class="header_navbar-item-link">
              vào cửa hàng trên ứng dụng tam-shop
              <div class="header-qr">
                <img src="./assets/img/qr-code.png" alt="">
              </div>
            </a>
          </li>
          <li class="header__navbar-item">
            kết nối
            <a class="a-icon" href=""><i class="nav-icon ti-facebook"></i></a>
            <a class="a-icon" href=""><i class="nav-icon ti-instagram"></i></a>
          </li>

        </ul>

        <ul class="header__navbar-list">
          <li class="header__navbar-item">
            <a href="" class="header_navbar-item-link">
              Customer
            </a>

          </li>
          <li class="header__navbar-item">
            <a href="" class="header_navbar-item-link">Employee</a>
          </li>
          <li class="header__navbar-item header__navbar-item1" >
            <a href="" class="header_navbar-item-link">Contract</a>
          </li>

          <li class="header__navbar-item">
            <a href="" class="header_navbar-item-link">Đăng nhập</a>
          </li>
        </ul>

      </nav>
    </div>
    <div class="logo-search">
      <a href="" class="logo-link">
        <!--                    <img src="./assets/img/Shopee-Logo-Branding-in-Asia.jpg" alt="" class="logo">-->
        <h2 class="logo">Furama</h2>
      </a>

      <a href="" class="cart-logo">
        <i id="cart-icon"  class="cart-icon ti-shopping-cart"></i>
      </a>
    </div>

  </header>
  <div class="banner">
    <div class="banner-01">
      <img src="./assets/img/baibien2.jpg" alt="" class="banner-left">
      <img src="./assets/img/baibien1.jpg" alt="" class="banner-right">
    </div>
  </div>

  <div class="container">
    <div class="product">
      <a href="" class="product-link">
        <img src="./assets/img/house.webp" alt="" class="product-img">
      </a>
      <h3>House</h3>
      <p class="price">prise : 1200k</p>
    </div>

    <div class="product">
      <a href="" class="product-link">
        <img src="./assets/img/villa.webp" alt="" class="product-img">
      </a>
      <h3>Villa</h3>
      <p class="price">prise : 1200k</p>
    </div>

    <div class="product">
      <a href="" class="product-link">
        <img src="./assets/img/room.webp" alt="" class="product-img">
      </a>
      <h3>Room</h3>
      <p class="price">prise : 1200k</p>
    </div>



  </div>

  <footer class="footer">
    <div>
      <img src="assets/img/newsletter.png" alt="" class="footer-img">
    </div>
    <div class="letter">
      <p class="heading-letter">Đăng ký nhận bản tin Furama</p>
      <p class="main-letter">
        Đừng bỏ lỡ hàng ngàn chuyến du lich  siêu hấp dẫn
      </p>
    </div>
    <div class="search-footer">
      <input type="text" placeholder="Địa chỉ email của bạn" class="input-footer">
      <button type="submit" class="btn-footer" >Đăng ký</button>
    </div>

  </footer>

</div>

<!--modal-->
<div class="modal">
  <div class="modal__overlay">

  </div>

  <div class="modal__body">
    <div class="modal__inner">

      <!-- authen-form-->
      <div class="auth-form">
        <div class="auth-form__hear">
          <h3 class="auth-form__heading">
            Đăng ký
          </h3>
          <span class="auth-form__switch">Đăng nhập</span>
          <div class="auth-form__form">
            <div class="auth-form__group"></div>
            <input class="auth-form__input" type="text" placeholder="Email của bạn">
          </div>
          <div class="auth-form__group">
            <input type="password" class="auth-form__input" placeholder="password">
          </div>
          <div class="auth-form__group">
            <input type="password" class="auth-form__input" placeholder="Nhập lại password">
          </div>
          <div class="auth-form__aside">
            <p class="auth-form__policy-text">
              Bằng việc đang ký , ban đã đồng ý với Shopee vê
              <a href="" class="auth-form__link">Điều khoản dịch vụ</a>&
              <a class="auth-form__link">Chính sách bảo mật</a>
            </p>
          </div>
          <div class="auth-form__controls">
            <button class="btn">Trở lại</button>
            <button type="submit" class="btn btn-primary">Đăng ký</button>
          </div>
          <div class="auth-form__socials">
            <a href="" class="btn btn-icon">
              <i class="ti-facebook"></i>
              Kết nối với Facebook
            </a>

            <a href="" class="btn btn-icon">
              <i class="ti-google"></i>
              Kết nối với Google
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>


