<form class="form container mt-5" [formGroup]="customer" (ngSubmit)="create()" novalidate>
  <h1 class="text-center pt-3 text-info font-weight-bold">create new student</h1>
  <label class="mt-2 font-weight-bold text-info">Name : </label>

  <input class="form-control  " placeholder=" name" type="text" formControlName="name">
  <div style="color: red"
       *ngIf="customer.controls.name?.errors?.required && (customer.controls.name?.dirty || customer.controls.name?.touched)">
    name không được để trống
  </div>
  <div style="color: red"
       *ngIf="customer.controls.name?.errors?.minlength && (customer.controls.name?.dirty || customer.controls.name?.touched)">
    độ dài không đủ
  </div>

  <label class="mt-2 font-weight-bold text-info">Date of birth : </label>

  <input class="form-control" type="date"  formControlName="dateOfBirth">
  <div style="color: red"
       *ngIf="customer.controls.dateOfBirth?.errors?.required && (customer.controls.dateOfBirth?.dirty || customer.controls.dateOfBirth?.touched)">
    ngày sinh không được để trống
  </div>

  <label class="mt-2 font-weight-bold text-info">Teacher</label>

  <select class="form-control"  formControlName="customerType">
    <option [ngValue]="null" [hidden] ="true">chọn type customer</option>
    <option *ngFor="let type of customerTypes" [ngValue]="type">{{type.type}}</option>
  </select>
  <div style="color: red"
       *ngIf="customer.controls.customerType?.errors?.required && (customer.controls.customerType?.dirty || customer.controls.customerType?.touched)">
    loại khách hàng không được để trống
  </div>
  <div class="d-flex flex-row-reverse ">
    <input [disabled]="customer.invalid" class="btn btn-danger mt-3" type="submit" value="create">
  </div>



</form>



