
<form class="container mt-5" [formGroup]="student"  (ngSubmit)="create()" >
  <table class="table table-striped table-dark">
    <tr>
      <th><label>Id : </label></th>
      <td> <input class="form-control" type="text" name="id" formControlName="id"></td>
    </tr>
    <tr>
      <th><label>Name : </label></th>
      <td><input class="form-control" type="text" name="name" formControlName="name"></td>
    </tr>
    <tr>
      <th><label>Date of birth : </label></th>
      <td><input class="form-control" type="text" name="dateOfBirth" formControlName="dateOfBirth"></td>
    </tr>
    <tr>

      <th><input class="btn btn-success" type="submit" value="create"></th>

    </tr>
  </table>

</form>

